h1,
h2,
h3,
h4,
li {
  font-family: sans-serif;
}

h1 {
  color: blue;
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-family: 20px;
}

/* to select the paragraph inside the footer element, this is used */
footer p {
  font-size: 16px;
}
