h1,
h2,
h3,
h4,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #18a586;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-family: 20px;
}

/* to select the paragraph inside the footer element, this is used */
/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */
/* the id tag is only used once hence the name used for an id cannot be reused. The class element is used multiple times. */
/* It is written # for id and . for classes */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* aside ul {
  list-style: none;
} */
/* or */
.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #18a586;
  border-bottom: 5px solid #18a586;
}

.conclusion {
  background-color: #faf8e2;
}

.conclusion-title {
  border-bottom: 3px solid #18a586;
}

.links {
  flex: auto;
  color: red;
}
